################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InstaBot/bin/Debug/data
/InstaBot/bin/Debug
/InstaBot/obj/Debug
/packages
